<div id="<%= dom_id image %>">

  <div class="image-wrapper" >
    <% if image.file.attached? %>
      <%= image_tag image.file %>
    <% end %>
    <p>
      <strong>Name:</strong>
      <%= image.name %>
    </p>
    <p>
      <strong>Description:</strong>
      <%= image.description %>
    </p>
    <p class="bg-wrapper">
      <strong>STATUS: </strong>
      <% if image.status == "ready" %>
        <span class="bg-status bg-success" data-bg-id="<%= image.id %>">Pronto</span>
      <% else %>
        <span class="bg-status bg-warning" data-bg-id="<%= image.id %>">Processando</span>
      <% end %>
    </p>
    <div class = "row">
      <div id="process-img" data-operation="erode" data-id="<%=image.id %>" class="btn btn-primary">Aplicar Erosão</div>
      <div id="process-img" data-operation="dilated" data-id="<%=image.id %>" class="btn btn-dark">Aplicar Dilatação</div>
    </div>
  </div>

</div>
