<% content_for :extra_js do %>
  <%= javascript_include_tag "images", defer: true, "data-turbo-track": "reload" %>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Images" %>

<h2>Images</h2>

<div class="img-list">
  <% @images.each do |image| %>
    <div class="image-wrapper" data-id="<%=image.id %>">
      <%= render image %>
      <p>
        <%= link_to "Show this image", image %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New image", new_image_path %>
